<p>Internal screaming ensues...</p>
<h1>First Page Thumbnail</h1>
<div class="row bg-primary" style="min-height: 300px">
    <pdf-viewer
    [src]="pdfSrc"
    [render-text]="false"
    [original-size]="false"
    [zoom-scale]="'page-fit'"
    [show-borders]="false"
    [page]="0"
    style="max-width:200px; margin-top:20px; padding: 0px"
    ></pdf-viewer>
</div>
<h1>Catalog</h1>
<ul class="list-group mb-4">
    <li class="list-group-item" *ngFor="let cat of catalogEntries">
        <app-pdf-object-info [name]="cat[0]" [obj]="cat[1]"></app-pdf-object-info>
    </li>
</ul>
<h1>First Page</h1>
<ul class="list-group mb-4">
    <li class="list-group-item" *ngFor="let item of pdfNode">
        <app-pdf-object-info [name]="item[0]" [obj]="item[1]"></app-pdf-object-info>
    </li>
</ul>